.center-align { text-align: center; }

// margin top classes
.mt-60 { margin-top: 6rem !important; }

// padding right classes
.pr-40 { padding-right: 40px !important; }

// height class
.h-35 { height: 35px !important; }
.h-45 { height: 45px !important; }

// width classes
.w-340 { width: 340px !important; }
.w-500 { width: 500px !important; }

// border
.border-0 {
    border: 0 !important;
}

// font color
.color-blue {
    color: #4265c7;
}