// font variables
$font-text: 'Open Sans', sans-serif;

// color variables
$color-grey-dark: #383838;
$color-grey-dark--1: #2E2E2E;
$color-grey-light: #aaaaaa;
$color-grey-light--1: #f7f7f7;
$color-grey-light--2: #ababab;
$color-primary: #5EBCF2;
$color-secondary: #2ebfac;
$color-primary-dark: #038FB3;