{% extends "addon/admin_base.html" %}

{% block admin_content %}
    <form class="form profile-edit" action="{{ constant('ROOTURL') }}/addon/add_specialization" method="POST">
        <div class="form__group">
            <div class="form__group--inline">
                <div class="form__group-row form__input-width--50">
                    <label for="" class="form__label">Type Specialization</label>
                    <input type="text" id="js-reg-fname" class="form__input h-35" name="special">
                    <p id="err-fname" class="error_msg"></p>
                </div>
            </div>
        </div>
        <div class="form__group">
            <button class="btn btn__search">Save</button>
        </div>
    </form>
{% endblock %}