<nav class="sidebar-nav">
    <ul class="sidebar-nav__list">
        <li class="sidebar-nav__item">
            <a href="{{ constant('ROOTURL') }}/addon" class="sidebar-nav__link">Doctor registration</a>
        </li>
        <li class="sidebar-nav__item">
            <a href="{{ constant('ROOTURL') }}/addon/doctor-list" class="sidebar-nav__link">Doctors</a>
        </li>
        <li class="sidebar-nav__item">
            <a href="{{ constant('ROOTURL') }}/addon/add-specialization" class="sidebar-nav__link">Add Specialization</a>
        </li>
        <li class="sidebar-nav__item">
            <a href="{{ constant('ROOTURL') }}/auth/logout" class="sidebar-nav__link">Logout</a>
        </li>
    </ul>
</nav>