<section class="banner">
    <div class="banner__info">
        <h1 class="banner__heading">Find doctors in Midnapore</h1>
        <form action="{{ constant('ROOTURL') }}/doctors/search" method="GET" class="form">
            <input type="text" class="form__input banner__search-field" name="search" placeholder="Search here by doctor's name">
            <button class="btn banner__btn">Find Now</button>
        </form>
        <p class="banner__text">
            Easy to find | Get detailed information on doctors | Totally free of cost
        </p>
    </div>
</section>