<a href="{{ constant('ROOTURL') }}/doctors/search/general-physician" class="card-sq">
    <div class="card-sq__box center-align">
        <svg class="card-sq__icon"><use xlink:href="#general-physician"></use></svg>
        <p class="card-sq__name">General Physician</p>
    </div>
</a>

<a href="{{ constant('ROOTURL') }}/doctors/search/gynecologist" class="card-sq">
    <div class="card-sq__box center-align">
        <svg class="card-sq__icon"><use xlink:href="#gynecologist"></use></svg>
        <p class="card-sq__name">Gynecologist</p>
    </div>
</a>

<a href="{{ constant('ROOTURL') }}/doctors/search/dermatologist" class="card-sq">
    <div class="card-sq__box center-align">
        <svg class="card-sq__icon"><use xlink:href="#dermatologist"></use></svg>
        <p class="card-sq__name">Dermatologist <span class="card-sq__name-desc">(Skin)</span></p>
    </div>
</a>

<a href="{{ constant('ROOTURL') }}/doctors/search/cardiologist" class="card-sq">
    <div class="card-sq__box center-align">
        <svg class="card-sq__icon"><use xlink:href="#cardiologist"></use></svg>
        <p class="card-sq__name">Cardiologist <span class="card-sq__name-desc">(Heart)</span></p>
    </div>
</a>

<a href="{{ constant('ROOTURL') }}/doctors/search/neurologist" class="card-sq">
    <div class="card-sq__box center-align">.
        <svg class="card-sq__icon"><use xlink:href="#neurologist"></use></svg>
        <p class="card-sq__name">Neurologist</p>
    </div>
</a>

<a href="{{ constant('ROOTURL') }}/doctors/search/ear-nose-throat" class="card-sq">
    <div class="card-sq__box center-align">
        <svg class="card-sq__icon"><use xlink:href="#ear-nose-throat"></use></svg>
        <p class="card-sq__name">Ear Nose Throat</p>
    </div>
</a>

<a href="{{ constant('ROOTURL') }}/doctors/search/dentist" class="card-sq">
    <div class="card-sq__box center-align">
        <svg class="card-sq__icon"><use xlink:href="#dentist"></use></svg>
        <p class="card-sq__name">Dentist</p>
    </div>
</a>

<a href="{{ constant('ROOTURL') }}/doctors/search/nefrologist" class="card-sq">
    <div class="card-sq__box center-align">
        <svg class="card-sq__icon"><use xlink:href="#nefrologist"></use></svg>
        <p class="card-sq__name">Nefrologist <span class="card-sq__name-desc">(Kidney)</span></p>
    </div>
</a>

<a href="{{ constant('ROOTURL') }}/doctors/search/ophthalmologist" class="card-sq">
    <div class="card-sq__box center-align">
        <svg class="card-sq__icon"><use xlink:href="#ophthalmologist"></use></svg>
        <p class="card-sq__name">Ophthalmologist <span class="card-sq__name-desc">(Eye)</span></p>
    </div>
</a>

<a href="{{ constant('ROOTURL') }}/doctors/search/orthopedic" class="card-sq">
    <div class="card-sq__box center-align">
        <svg class="card-sq__icon"><use xlink:href="#orthopedic"></use></svg>
        <p class="card-sq__name">Orthopedic <span class="card-sq__name-desc">(Bone)</span></p>
    </div>
</a>

<a href="{{ constant('ROOTURL') }}/doctors/search/homeopathy" class="card-sq">
    <div class="card-sq__box center-align">
        <svg class="card-sq__icon"><use xlink:href="#homeopathy"></use></svg>
        <p class="card-sq__name">homeopathy</p>
    </div>
</a>

<a href="{{ constant('ROOTURL') }}/doctors/search/pediatrician" class="card-sq">
    <div class="card-sq__box center-align">
        <svg class="card-sq__icon"><use xlink:href="#pediatrician"></use></svg>
        <p class="card-sq__name">pediatrician <span class="card-sq__name-desc">(Child)</span></p>
    </div>
</a>

<a href="{{ constant('ROOTURL') }}/doctors/search/gastroenterologist" class="card-sq">
    <div class="card-sq__box center-align">
        <svg class="card-sq__icon"><use xlink:href="#gastroenterologist"></use></svg>
        <p class="card-sq__name">gastroenterologist <span class="card-sq__name-desc">(Digestive)</span></p>
    </div>
</a>

<a href="{{ constant('ROOTURL') }}/doctors/search/physiotherapist" class="card-sq">
    <div class="card-sq__box center-align">
        <svg class="card-sq__icon"><use xlink:href="#physiotherapist"></use></svg>
        <p class="card-sq__name">physiotherapist</p>
    </div>
</a>

<a href="{{ constant('ROOTURL') }}/doctors/search/psychiatrist" class="card-sq">
    <div class="card-sq__box center-align">
        <svg class="card-sq__icon"><use xlink:href="#psychiatrist"></use></svg>
        <p class="card-sq__name">psychiatrist</p>
    </div>
</a>