.main-login-full {
    padding-top:1px; 
    min-height: 100vh;
}

// .login-full {}

.login-full__form {
    width: 30rem;
    margin: 0 auto;
    margin-top: 15rem;
    background-color: #cccccc;
    padding: 2rem;
}

.login-full__error {
    color: #D32F2F;
    font-size: 1.4rem;
    text-align: center;
}

.login-full__heading {
    text-align: center;
    font-size: 2.3rem;
    margin: 0 0 1rem 0;
}

.login-full__btn {
    background-color: $color-primary;
    color: #fff;
    padding: 8px 15px;
    letter-spacing: 1px;
    font-size: 1.5rem;
}