<footer class="footer-area">
    <section class="footer container">
        <div class="footer__logo">
            <h2 class="footer__logo-name">midpace</h2>
        </div>
        <div class="footer__link">
            <p class="footer__menu">Menu</p>
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="{{ constant('ROOTURL') }}" class="footer__link">Home</a>
                </li>
                <li class="footer__item">
                    <a href="{{ constant('ROOTURL') }}/doctors" class="footer__link">Doctors</a>
                </li>
                <li class="footer__item">
                    <a href="{{ constant('ROOTURL') }}/about" class="footer__link">About Us</a>
                </li>
                <li class="footer__item">
                    <a href="{{ constant('ROOTURL') }}/contact-us" class="footer__link">Contact Us</a>
                </li>
                <li class="footer__item">
                    <a href="{{ constant('ROOTURL') }}/privacy-policy" class="footer__link">Privacy Policy</a>
                </li>
                <li class="footer__item">
                    <a href="{{ constant('ROOTURL') }}/term-condition" class="footer__link">Terms & Conditions</a>
                </li>
            </ul>
            {# footer social links #}
            <div class="social">
                <a href="#" target="_blank">
                    <svg class="social__facebook">
                        <use xlink:href="#icon-facebook"></use>
                    </svg>
                </a>
                <a href="#" target="_blank">
                    <svg class="social__instagram">
                        <use xlink:href="#icon-instagram"></use>
                    </svg>
                </a>
                <a href="#" target="_blank">
                    <svg class="social__twitter">
                        <use xlink:href="#icon-twitter"></use>
                    </svg>
                </a>
            </div>
        </div>
        <div class="footer__copyright">
            <p>Copyright 2019 &copy; Midpace | All right reserved</p>
        </div>
    </section>
</footer>
