{% extends "layout/base.html" %}

{% block maincontent %}
    <main class="about mt-60">
        <article class="about__container">
            <section class="about__section">
                <h1 class="about__heading">midpace.com</h1>
                <p class="about__text">
                    Midpace.com is an extensive search engine for the people who are seeking information about doctors. One can rely on midpace.com for getting most brief and relevant data on doctors in Midnapore. people can use midpace.com as one stop destination to search about doctors. The website has the repository of more than 50 doctors and categorized according to their specialization. One can easily find doctors on the basis of their name and specialization.
                </p>
            </section>
            <section class="about__section">
                <h2 class="about__heading-sub">Our Mission</h2>
                <p class="about__text">
                    Finding a doctor according to your need is sometime hard to find. With the most interactive user interface and most validated content , we aspire to be the top doctors portals and help people in every way in making their decision easier.
                </p>
            </section>
            <section class="about__section">
                <h2 class="about__heading-sub">Our Vision</h2>
                <p class="about__text">
                    midpace has been created to fulfil a vision, to build a place where people can come to find and discover details information about doctors. We will change the way you think about health care system.
                </p>
            </section>
        </article>
    </main>
{% endblock %}