{% extends "layout/base.html" %}

{% block maincontent %}
    <main class="about mt-60">
        <article class="about__container">
            <section class="about__section">
                <h1 class="about__heading">Privacy Policy</h1>
                <h2 class="about__heading-sub">Overview of the Privacy Policy:</h2>
                <p class="about__text">
                    The midpace is the manager, moderator and operator of the website midpace.com and all of its versions including mobile and applications. This website policy document clarifies all the issues related to how we will use the data and information collected from users. The privacy policy is prepared only for midpace and not for the websites linked through it. Kindly refer respective documents to get more insights.
                </p>
            </section>
            <section class="about__section">
                <h2 class="about__heading-sub">Privacy of Users below 13 Years of Age:</h2>
                <p class="about__text">
                    The website is not designed to attract the users below 13 years and thus the company don’t intend to keep data of the users below the specified age. We will delete the information as soon as we find any such kind of information.
                </p>
            </section>
            <section class="about__section">
                <h2 class="about__heading-sub">Cookies and IP Tracking Policy:</h2>
                <p class="about__text">
                    The website also stores data other than the content which provides information on personal identity in the form of IP and cookies. It is henceforth coming under the category non-personal identifiable data which also includes search history, Internet domain and host names, Internet protocol (IP) addresses, browser software and operating system types, clickstream patterns, advertisement response, and dates and times. <br>
                    Our use of cookies and other tracking technologies allows us to improve our web site and your web experience. We may also analyse information that does not contain personal Information for trends and statistics.

                </p>
            </section>
            <section class="about__section">
                <h2 class="about__heading-sub">Information Collected by the Website:</h2>
                <p class="about__text">
                    The website also collects and stores the data submitted by users. We share doctor’s data to the user which we are collected from doctors. The contact forms on the website are made to simplify the process of data presentation by collecting the user name, email, mobile number and message.
                </p>
            </section>
            <section class="about__section">
                <h2 class="about__heading-sub">Changes to this Privacy Policy:</h2>
                <p class="about__text">
                    midpace.com reserves the right to update, change or modify this policy at any time. The policy shall come to effect from the date of such update, change or modification.
                </p>
            </section>
            <section class="about__section">
                <h2 class="about__heading-sub">Company Contact:</h2>
                <p class="about__text">
                    Any queries related to Privacy Policy, please contact on following address: <br>
                    Midpace <br>
                    Midnapore, Paschim Medinipur <br>
                    West Bengal - 721101 <br>
                    Or Send a Mail at <span class="color-blue">midpacecontact@gmail.com</span>

                </p>
            </section>
        </article>
    </main>
{% endblock %}