{% extends "layout/base.html" %}

{% block maincontent %}
    <main class="about mt-60">
        <article class="about__container">
            <section class="about__section">
                <h1 class="about__heading">Terms & Conditions</h1>
                <p class="about__text">
                    Welcome to the website "midpace.com" owned by "Midpace". These terms and conditions cover every individual visiting this website and it is assumed that by coming to the portal, you accept this "Terms & Condition Policy" in full. If you disagree with these conditions, you must not use this website. The website usage cookies, it is also being declared by the moderators of the portal that every visitor is in accordance with midpace.com's cookies policy. Midpace is free to change, delete or add any portion to this document. If any change is unacceptable the only recourse is to terminate the usage of this website.
                </p>
            </section>
            <section class="about__section">
                <h2 class="about__heading-sub">Intellectual Property Rights:</h2>
                <p class="about__text">
                    Unless stated otherwise, Midpace fully owns the intellectual property rights of this website and materials used on this website. The content can only be used for personal use but not exceeding the limits set by following conditions: Republishing of the Content from this website in another digital or print media platform Sub-Licensing of any product launched through the website’s channel Reproduction of any work, survey or study conducted by the website Copyrights and Trademarks: midpace.com holds the sole rights of all the digital content available throughout the website other than the information freely available on internet under the fair usage policy. Trademark of midpace.com cannot be used to be displayed at any commercial or non-commercial use without prior permission from the managing company. All the data mining activities i.e. scrapping, crawling and republishing is not allowed until and unless written permission is obtained from the company.
                </p>
            </section>
            <section class="about__section">
                <h2 class="about__heading-sub">Limitation of Liability:</h2>
                <p class="about__text">
                    By using the site, you agree with the clause that Midpace will not be liable for any legal theory or contracts for any kind issues caused by any other party. The website is also not liable to verify or justify information provided by participants of the website i.e. doctors. To prevent the loss of visitor it is highly recommended that every information available on the website must be verified before taking it into consideration. midpace.com declares that it will not be used to propagate any malicious or harmful software so in any case of program loss or system damage, the website can’t be held responsible. Even the portal itself is advised to beware of these possibilities. <br>
                    <span class="color-blue">External Links:</span> midpace.com is not liable to any loss caused due to the external links available on the website. It is also advised verify with other sources before making any decision on the basis of advertisements or content available on the linked websites. <br>
                    <span class="color-blue">Governing Law:</span> All the legal proceedings comes under the jurisdiction of Honorable Kolkata High Court, West Bengal, India and will follow the laws of the state.
                </p>
            </section>
            <section class="about__section">
                <h2 class="about__heading-sub">How You May Contact Us:</h2>
                <p class="about__text">
                    Any queries related to Privacy Policy, please contact on following address: <br>
                    Midpace <br>
                    Midnapore, Paschim Medinipur <br>
                    West Bengal - 721101 <br>
                    Or Send a Mail at <span class="color-blue">midpacecontact@gmail.com</span>
                </p>
            </section>
        </article>
    </main>
{% endblock %}